
main{
    width: 46rem;
    height: 17.94rem;
}
.contElementos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    
}
.contElementos strong{
    letter-spacing: 0.06rem;
    color: var(--Blue);
    font-weight: bold;
}
.contElementos  span{
    letter-spacing: 0.06rem;
    font-weight: bold;
    color: var(--PurpleDark);
    
}
.canteinerTarefas{
    display: flex;
    gap: 0.62rem;
}
.numeros{

    background: var(--gray-400);
    color: var(--gray-200);

    padding: 2px 8px 2px 8px;
    border-radius: 999px;


    font-weight: bold;
    font-size: 0.87rem;
}
.numeros2{

   
    
    background: var(--gray-400);
    color: var(--gray-200);

    padding: 2px 8px 2px 8px;
    border-radius: 999px;


    font-weight: bold;
    font-size: 0.87rem;
}
   

/* Lista de elementos */

.elementos{
   background: var(--gray-400);
    box-sizing: border-box;
    display: flex;
    width: 46rem;
    height: 4.5rem;
    border-radius: 8px;
    
}
.elementos + .elementos{
    margin-top: 0.75rem;
   
}  
   
    

.checkbox{
    display: flex;
    width: 3.25rem;
    height: 4.5rem;


    justify-content: center;
    align-items: center;
    



}
.checkbox input{
    appearance: none;
    content: '';

    border: 3px solid var(--Blue);
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    margin-bottom: 1.1rem;
}
.checkbox input:hover{
    border: 3px solid var(--BlueDark);
    background: var(--gray-500);
}
.checkbox input::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 11px;

    border-right: 3px solid var(--gray-100);
    border-bottom: 3px solid var(--gray-100);
    transform: rotate(45deg);

    margin-left: 5px;
    margin-top: 2px;
    opacity: 0;
}
.checkbox input:checked::before{
    opacity: 1;
    margin-left: 8px;
    margin-top: 4px;
}

.checkbox input:checked{
    border: none;
    background: var(--Purple);
    
}
.checkbox input:checked:hover{
    background: var(--PurpleDark);
}
.checkbox:has(input:checked) + .tarefa{
    text-decoration: line-through;
    color: var(--gray-300);
}



.tarefa{
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 39.5rem;
    height: 4.5rem;
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
    

    
}
/* .tarefa p{
    margin-left: 0.31rem;
} */
.lixeira{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.25rem;
    height: 4.5rem;
}
.lixeira svg{
    margin-bottom: 1.1rem;
    color: var(--gray-300);
}
.lixeira svg:hover{
    color: var(--Danger);
}

  
    